
@keyframes dimlight {
    0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
      color: #dce3e6;
      text-shadow: none;
    }
    18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
      color: #fff;
      text-shadow: 0 0 10px #63f403;
    }
  }
 h1{
    height: 30px;
    font-size: 30px;
 }
  .animate-dimlight {
    animation: dimlight 5s infinite;
  }

  .box-reflect {
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
  }
